.sample {
    margin-bottom: 5px;
    display: flex;
    input {
        height: 2.2rem;
        /* width: 70%; */
        flex-grow: 1;
    }
}

.answer {
    /* width: 29%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-left: .5rem;
    height: 2.2rem;
    /* display: inline-block; */
    border: .125rem solid black;
    border-radius: 5px;
    color: white;
    /* text-align: center; */
    /* vertical-align: top; */
    /* line-height: 2rem; */
    span {
        // margin: auto;
    }
}

.no-match {
    border-color: rgb(207, 3, 3);
    background-color: rgb(235, 21, 21);
}

.match {
    border-color: rgb(3, 182, 3);
    background-color: rgb(8, 189, 54);
}